body {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}
.col-md-5 {
  margin-top: 150px !important;
  background-color: white;
  padding: 20px;
}
input {
  margin-top: 20px;
}
button {
  margin-top: 20px !important;
  float: left;
}

.success {
  border: 3px solid green !important;
}
.error {
  border: 3px solid red !important;
}

small {
  color: red;
  float: left;
  font-weight: bold;
  margin: 5px;
}
